.loader {
  /*z-index : 4;*/
  /*opacity : 1;*/
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.overlayLoader{
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index : 2;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.whitebg{
  background :  #FFFFFF !important;
}

.cardMain{
  background:  white;
  border-bottom: 1px solid rgba(0,0,0,0.06);
}

.cardMainSelected{
  background: rgb(215,240,254)
}

.sidbarCustom .searchbarParent{
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 15px;
  padding-left : 5px;
  display : flex;
  margin : 0px 10px 10px 10px;
}

.sidbarCustom .inputSearch{
  flex : 1;
  height : 25px;
  border : 0px;
  margin-left  :5px;
}

input:focus{
    outline: none;
}

.sidbarCustom .topParent{
  display: flex;
  margin : 10px;
}

.sidbarCustom .topLeft{
  flex : 1;
}

.sidbarCustom .topRight{
  flex : 1;
  flex-direction:  row-reverse;
  display: flex;
  align-items: center;
}

.sidbarCustom .plusIconParent{
  border-radius : 6px;
  border : 1px solid rgba(0,0,0,0.3);
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right : 3px;
}

.sidbarCustom .plusIcon{
  font-size : 8px;
  border-radius : 10px;
  border : 1px;
  color : rgba(138,185,217,1) ;

}

.sidbarCustom .projectText{
  color : rgba(0,0,0,0.7);
  font-size: 18px;
  font-weight: 200;
}

.sidbarCustom .newText{
  color : rgba(0,0,0,0.3);
}


.sidbarCustom ::placeholder {
  color: rgba(0,0,0,0.2);
  opacity: 1; /* Firefox */
}

.sidbarCustom :-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgba(0,0,0,0.2);
}

.sidbarCustom ::-ms-input-placeholder { /* Microsoft Edge */
 color: rgba(0,0,0,0.2);
}

.sidbarCustom .searchIconBtn{
  border : 0px;
  height : 24px;
  padding: 0px;
  margin-right: 10px;
}

.sidbarCustom .searchIcon{
  color : rgba(0,0,0,0.1)
}

.sidbarCustom .itemLeftCard{
  display: inline-flex;
  padding  : 5px 5px;
  display : flex;
}

.sidbarCustom .roundCircle{
  border: 1px solid rgb(96,189,40);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display : flex;
}

.sidbarCustom .center{
  flex : 1;
  padding : 0px 5px;
  /*margin : 5px 0px 0px 5px ;*/
}

.sidbarCustom .projNameTxt {
  font-weight: 400 !important;
  font-size: 16px !important;
  margin-bottom: 0px !important;
  color : rgba(0,0,0,0.7) !important;
}

.sidbarCustom .projNameTxt2 {
  font-weight: 200 !important;
  font-size: 10px !important;
  color : rgba(0,0,0,0.5) !important;
  margin-bottom: 0px !important;
}

.sidbarCustom .barChartRight{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidbarCustom .roundSmall{
  width: 6px;
  height: 6px;
  background: rgb(96,189,40);
  border-radius: 3px;
  position: absolute;
  bottom: 10px;
  left: 35px;
}

.main-header-comp{
  background : #FFFFFF;
}

.main-header-comp .navbar-nav-custom{
  border-bottom: 1px solid #e2e1e1 !important;
  display : flex;
  align-items: center;
  /* justify-content: center */
}

.main-header-comp .navbar-header{
  /* background-image: linear-gradient(to right,#037bcf, #6dd5ed); */
  display : flex;
  flex-direction: row;
  /* align-items: center; */

}

.navbar-header-item-text{
  padding-right: 10px;
}

.navbar-header-selected{
  color : #009aff
}

.main-header-comp .navbar-icon-parent-comp{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
.main-header-comp .nav-special-icon{
  /* align-items: center; */
}

.main-header-comp .navbar-icon-special{
  margin-left: 10px
}

.main-header-comp .navbar-header-search-parent{
  display: flex;
  flex :1;
  flex-direction: row-reverse;
  margin-right: 10px;
  height : 60%;
}

.main-header-comp .navbar-search{
  width : 50%;
  border : 1px solid #e2e1e1;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-header-comp .navbar-search-icon{
  color: #e2e1e1;
}

.main-header-comp .navbar-search ::placeholder {
  color: #e2e1e1;
}

.main-header-comp .navbar-search-text{
  border : 0px;
  display: flex;
  flex: 1;
  padding : 3px 0 3px 0;
  font-size: 12px
}

.main-header-comp .navbar-icon-comp, .content-wrapper-border-line .navbar-icon-comp{
  /* align-items: center; */
  justify-content: center;
  display: flex;
  border-radius: 50%;
  border : 1px solid #e2e1e1;
  padding : 8px;
  height : 65%;
  margin-right: 10px
}

.content-wrapper-border-line .content-header-setting-icon{
  display: flex;
  flex-direction: row-reverse;
  flex :1;
}

.content-wrapper-border-line .main-content-tab-container{
  background: #FFFFFF
}

.main-header-comp .custom-nav{
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
}

.content-wrapper-border-line .content-container-navbar{
  background : #FFFFFF !important;
  padding : 0px 2px 0px 2px;
  border-bottom: 1px solid #e2e1e1;
}

.content-wrapper-border-line .content-container-header{
  background-image: linear-gradient(to right, #037bcf , #6dd5ed);
  padding : 0px 2px 0px 2px;
  height: 75px;
  align-items: center;
  display: flex;
}

.content-wrapper-border-line .content-header-container{
  /* border-bottom: 1px solid #e2e1e1; */
  display : flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.content-header-container .content-header-name{
}

.content-header-container .content-header-data{
  flex :1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding : 15px 25px 15px 15px;
}

.content-header-data .content-header-bar-chart{
  margin-left : 15px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items : center;
}

.content-header-data .content-header-help-indication-container{
  background-image: linear-gradient(to right, #ed6f08 , #fdab3d);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  align-items: center;
  justify-content: center;
  padding : 3px 20px 3px 20px;
}

.content-header-help-indication-container .content-header-help-percent{
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
}

.content-header-help-indication-container .content-header-help-label{
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
}



.content-header-bar-chart .content-header-bar-chart-data{
  margin-right: 5px;
}

.content-header-bar-chart-data .content-header-bar-chart-data-text{
  color: #FFFFFF;
  font-size: 10px;
  text-align: center;
}

.content-wrapper-border-line .content-selected-header-border{
  border-bottom: 2px solid #009aff
}

.content-wrapper-border-line .content-header-text-container{
  padding : 15px 10px 15px 10px;
  margin : 0px 2px 0px 2px
}

.content-wrapper-border-line{
  border-left : 1px solid #e2e1e1
}

.login-screen-back{
  background : #FFFFFF
}

.content-header-container .content-header-project-name{
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 100;
  padding-left: 30px;
}

.content-header-container .content-header-other-detail{
  flex-direction: row;
  display: flex;
  padding-left: 30px;
}

.content-header-other-detail .content-header-customer-name{
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 100;
  margin-right: 8px;
}

.content-header-other-detail .content-header-date-container{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background : #192d4b;
  color: #FFFFFF;
  font-size: 10px;
  /* padding : 2px 8px 2px 8px; */
  align-items: center;
  justify-content : center;
  display: flex;
  padding : 0px 10px 0px 10px;
}

.workflow-parent{
  padding: 0px 0px 5px 0px;
  background: #FFFFFF;
}

.workflow-parent .workflow-container{
  background : #e2e1e1;
  /* padding : 10px 10px 10px 10px; */
  flex-direction: row;
  display: flex;

}

.workflow-container .workflow-container-project-det{
  background: #cc433b;
  padding : 2px 25px 2px 15px;
  /* align-items: center; */
  justify-content: center;
  display: flex;
  flex-direction: column
  /* max-width: ; */
}

.workflow-container .workflow-container-back-arrow-container{
  background: #e68c78;
  padding : 8px 8px 8px 8px;
  align-items: center;
  justify-content: center;
  display: flex;
  /* flex :1 */
}

.workflow-container-back-arrow-container .fa-left-size{
  font-size: 20px
}

.workflow-container .workflow-container-workflow-indicator{
  display: flex;
  flex : 1;
  align-items: center;
  position: absolute;
  /* right : 0px; */
  top :231px;
}

.workflow-container .workflow-container-workflow-container{
  display: flex;
  flex : 1;
  align-items: center;
  border-top: 2px solid #a0a2a4
}

.workflow-container-workflow-indicator .workflow-row-indicator{
  background : #a0a2a4;
  height : 2px;
  width : 77px;
  display: flex;
}

.workflow-container-workflow-indicator .workflow-status-indicator{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #828386;
    position: relative;
    /* z-index: 1000; */
    /* top: -10px; */
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
    display: flex;
}


.workflow-container-workflow-indicator .workflow-status-complition{
  border : 3px solid #cc433b;
}

.workflow-status-complition .workflow-status-complition-circle {
  border : 3px solid #cc433b;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background : #cc433b
}

.workflow-container-workflow-indicator .workflow-start-end-row-indicator{
  background : #a0a2a4;
  height : 2px;
  width : 77px;
  display: flex;
}

.workflow-container-workflow-indicator .workflow-tabs{
  display: flex;
  height :36px;
  flex :1;
  align-items: center;
}

.workflow-container-workflow-container .workflow-tabs-headers{
  display: flex;
  height :36px;
  flex :1;
  align-items: center;
  justify-content: center;
  padding-top : 5px
}

.workflow-container-project-det .workflow-container-project-name {
  color : #FFFFFF;
  font-weight: 100;
  font-size: 12px
}
.workflow-container-project-det .workflow-container-project-active-since {
  color : #FFFFFF;
  font-weight: 100;
  font-size: 8px
}

.workflow-parent .workflow-project-details-container{
  flex-direction: row;
  display: flex;
  flex :1;
  padding: 10px 20px 20px 10px;
}

.workflow-parent .workflow-project-owner-details{
  display: flex;
  flex: 0.4;
}

.workflow-project-owner-details .workflow-project-owner-profile-pic{
  border-radius : 50%;
  background: #642d50;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.workflow-project-owner-profile-pic .workflow-project-owner-name-short{
  color : #FFFFFF;
  font-size: 13px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.workflow-parent .workflow-project-other-details{
  display: flex;
  flex: 0.6;
  align-items: center;
}

.workflow-project-owner-details .workflow-project-owner-role, .work-flow-owner-company-details .workflow-project-owner-role{
  color: #000000;
  font-size: 10px;
  margin-right: 5px
}

.work-flow-owner-company-details .work-flow-owner-company-detail-text{
  color: #595959;
  font-size: 15px;
}

.workflow-project-owner-details .work-flow-owner-det{
  height: 40;
  justify-content: center;
  display: flex;
  flex-direction: column
}

.work-flow-owner-det .workflow-project-owner-roles-cont{
  flex-direction: row;
  display: flex;
}

.workflow-project-owner-details .workflow-project-owner-name{
  color: #000000;
  font-size: 15px;
}

.workflow-project-other-details .work-flow-owner-company-details{
  flex : auto;
  display: flex;
  flex-direction: column;
}

.extra-style{
  position: absolute;
  top : -20px;
  left : 44px;
}

.person-online-status{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: green;
  position: absolute;
  /* z-index: 101; */
  right: 0px;
  bottom: 0px;
  /* position: relative; */
}




/* Timeline page css*/

.timeline-page{
  background-color: white;
  padding: 10px;
}

.timeline-accrdian-div .accordion {
  background-color: rgb(245,245,245);
  color: #444;
  cursor: pointer;
  padding: 10px;
  /*width: 100%;*/
  margin-bottom: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  flex-direction: row;
}

.timeline-accrdian-div .active, .timeline-accrdian-div  .accordion:hover {
  background-color: rgb(0,0,0,0.1);
}

.timeline-accrdian-div .panel {
  display: none;
  background-color: white;
  overflow: hidden;
}

.timeline-accrdian-div .accordion-header-lft {
  display: flex ;
  flex : 1;
  color : rgb(28,161,255);
  font-size: 18px;
  align-items:  center;
}

.timeline-accrdian-div .accordion-header-rgt {
  display: flex ;
  flex : 1;
  flex-direction: row-reverse;
  color : rgb(28,161,255);
  font-size: 12px;
  align-items:  center;
}

.timeline-page table {
  border-collapse: collapse;
  width: 100%;
}

.timeline-page th {
  /*border: 1px solid #ffffff;*/
  text-align: left;
  font-weight: 100;
  padding: 8px;
  background-color: #ffffff;
}

.timeline-page .center-th {
  display: flex;
  justify-content: center;
}

.timeline-page td{
  border: 1px solid #ffffff;
  text-align: left;
  padding: 0px;

}

.timeline-page .center-td{
  display: flex;
  justify-content: center;
}

.timeline-page tr{
  background-color: rgb(240,240,240);
}

.timeline-page .phase-header-view{
  color: rgb(157,96,229);
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-page .phase-header-down-arrow{
  background-color: rgb(157,96,229);
  height : 12px;
  width  :12px;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  color : white;
  margin-right: 5px;

}

.timeline-page .phase-header-plus{
  height : 14px;
  width  :14px;
  border-radius : 7px;
  font-size: 14px;
  font-weight: bold;
  align-items:  center;
  justify-content: center;
  display: flex;
  color : white;
  background-color: black;
}

.timeline-page .phase-row-Person-circle{
  height : 20px;
  width  :20px;
  border-radius : 10px;
  font-size: 10px;
  align-items:  center;
  justify-content: center;
  display: flex;
  color : white;
  background-color: rgb(50,126,164);
}

.timeline-page .phase-row-timeline{
  height :18px;
  width  :100px;
  border-radius : 9px;
  font-size: 10px;
  align-items:  center;
  justify-content: center;
  display: flex;
  color : white;
  background-color: black;
}

.timeline-page .phase-row-status{
  font-size: 10px;
  align-items:  center;
  justify-content: center;
  display: flex;
  color : white;
}

.timeline-page .phase-row-status-td{
  background-color: rgb(68,215,146);
}

.timeline-page .td-orange{
  background-color: rgb(248,171,75);
}

.timeline-page .td-red{
  background-color: rgb(224,70,93);
}

.timeline-page .phase-row-location-text{
  font-size: 12px;
  color: rgba(0,0,0,0.4);
  margin-left: 5px;
}

.timeline-page .location-icon{
  font-size: 12px;
  color: rgb(25,157,255);
}

.timeline-page .phase-td-location{
  display: flex;
  flex-direction: row;
  padding : 0px 5px;
}

.timeline-page .chat-icon{
  color : rgba(0,0,0,0.4);
  font-size: 18px;
  font-weight: 400;
}

.timeline-page .phase-row-td{
  display: flex;
  flex-direction: row;
}

.timeline-page .phase-td-lft{
  display: flex;
  flex-direction: row;
  flex : 1;
  align-items: center;
}

.timeline-page .phase-td-rgt{
  display: flex;
  width  :25px;
  height : 25px;
  align-items: center;
  /*justify-content: center;*/
}

.timeline-page .phase-td-perpol{
  display: flex;
  width  :25px;
  height : 25px;
  align-items: center;
  justify-content: center;
  background-color: rgb(162,98,216);
  margin-right: 5px;
}

.timeline-page .phase-td-center-grey-box{
  width : 10px;
  height: 10px;
  background-color: rgb(131,77,166)
}

.timeline-page .phase-td-center-white-box{
  width : 10px;
  height: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-page .check-mark{
  color : rgba(0,0,0,0.8);
  font-size: 16px;
  font-weight: 400;
}

.timeline-page .phase-td-txt{
  color : rgba(0,0,0,0.8);
  font-size: 12px;
}

.timeline-page .unread-chat-count{
  color : rgba(0,0,0,0.8);
  font-size: 6px;
  background-color: rgb(26,157,254);
  position: relative;
  height : 8px;
  width: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  left : -5px;
  bottom : -2px;
}

.timeline-page .chat-icon{
  color : rgba(0,0,0,0.4);
  font-size: 20px;
  font-weight: 400;
}

.timeline-page .unreadChatColor{
  color : rgb(26,157,254);
}

.timeline-page .createRow-row{
  margin-left: 2px;
  border-left : 10px solid rgba(206,175,244,1);
  border-right : 10px solid rgba(0,0,0,0.1);
}

.timeline-page .createRow{
  background-color: white;
  padding-left : 5px;
  font-size:  10px;
  color: rgba(0,0,0,0.3);
  padding : 5px;
}


.timeline-page .center-vertical{
  align-items: center;
  display: flex;
}

.timeline-page .progress-main{
  width : 100px;
  background: rgba(0,0,0,1);
  border-radius: 8px !important;
  height: 16px !important;
  margin-bottom: 0px !important;
  /*margin-bottom: 3px !important;*/
}

.timeline-page .progress-sub{
  width : 50%;
  background: rgb(162,99,213);
  border-radius-left: 5px !important;
  justify-content: center;,
  z-index : 50;
}
