.loader {
  /*z-index : 4;*/
  /*opacity : 1;*/
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.overlayLoader{
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index : 2;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.whitebg{
  background :  #FFFFFF !important;
}

.cardMain{
  background:  white;
  border-bottom: 1px solid rgba(0,0,0,0.06);
}

.cardMainSelected{
  background: rgb(215,240,254)
}

.sidbarCustom .searchbarParent{
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 15px;
  padding-left : 5px;
  display : flex;
  margin : 0px 10px 10px 10px;
}

.sidbarCustom .inputSearch{
  flex : 1;
  height : 25px;
  border : 0px;
  margin-left  :5px;
}

input:focus{
    outline: none;
}

.sidbarCustom .topParent{
  display: flex;
  margin : 10px;
}

.sidbarCustom .topLeft{
  flex : 1;
}

.sidbarCustom .topRight{
  flex : 1;
  flex-direction:  row-reverse;
  display: flex;
  align-items: center;
}

.sidbarCustom .plusIconParent{
  border-radius : 6px;
  border : 1px solid rgba(0,0,0,0.3);
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right : 3px;
}

.sidbarCustom .plusIcon{
  font-size : 8px;
  border-radius : 10px;
  border : 1px;
  color : rgba(138,185,217,1) ;

}

.sidbarCustom .projectText{
  color : rgba(0,0,0,0.7);
  font-size: 18px;
  font-weight: 200;
}

.sidbarCustom .newText{
  color : rgba(0,0,0,0.3);
}


.sidbarCustom ::placeholder {
  color: rgba(0,0,0,0.2);
  opacity: 1; /* Firefox */
}

.sidbarCustom :-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgba(0,0,0,0.2);
}

.sidbarCustom ::-ms-input-placeholder { /* Microsoft Edge */
 color: rgba(0,0,0,0.2);
}

.sidbarCustom .searchIconBtn{
  border : 0px;
  height : 24px;
  padding: 0px;
  margin-right: 10px;
}

.sidbarCustom .searchIcon{
  color : rgba(0,0,0,0.1)
}

.sidbarCustom .itemLeftCard{
  display: inline-flex;
  padding  : 5px 5px;
  display : flex;
}

.sidbarCustom .roundCircle{
  border: 1px solid rgb(96,189,40);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display : flex;
}

.sidbarCustom .center{
  flex : 1;
  padding : 0px 5px;
  /*margin : 5px 0px 0px 5px ;*/
}

.sidbarCustom .projNameTxt {
  font-weight: 400 !important;
  font-size: 16px !important;
  margin-bottom: 0px !important;
  color : rgba(0,0,0,0.7) !important;
}

.sidbarCustom .projNameTxt2 {
  font-weight: 200 !important;
  font-size: 10px !important;
  color : rgba(0,0,0,0.5) !important;
  margin-bottom: 0px !important;
}

.sidbarCustom .barChartRight{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidbarCustom .roundSmall{
  width: 6px;
  height: 6px;
  background: rgb(96,189,40);
  border-radius: 3px;
  position: absolute;
  bottom: 10px;
  left: 35px;
}
